lab1/lab1_client/xml-resources/web-service-references/TeamsService/wsdl/localhost_8080/TeamsService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://WebService/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebService/">

<xs:element name="getTeams" type="tns:getTeams"></xs:element>

<xs:element name="getTeamsResponse" type="tns:getTeamsResponse"></xs:element>

<xs:complexType name="getTeams">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTeamsResponse">
<xs:sequence>
<xs:element name="return" type="tns:team" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="team">
<xs:sequence>
<xs:element name="city" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="cups" type="xs:int"></xs:element>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="stadium" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="year" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>